<div class="notfound-img-bg"><div class="inner"></div></div>

<div class="container notfound-topcontiner">
	<div class="row">
		<div class="col s3"></div>
		<div class="col s6 center">
			<h2>{{ title }}</h2>
			<a href="/">Back To Home</a>
		</div>
		<div class="col s3"></div>
	</div>
</div>

{{> footer}}