{{> topnavbar }}


<div class="container chosengenerator-topcontainer">
	<div class="row">
		<div class="title center">
			<h3>{{ title }}</h3>
		</div>	
	</div>

	<div class="row">
		<div class="col s12">
			<div class="generator-box white">
				{{!-- search bar --}}
				<div class="row">
					<div class="col s3"></div>
					<div class="search-generator input-field col s6">
						<i class="material-icons prefix">search</i>
						<input placeholder="Search generator" id="searchterm" type="text" class="validate">
			          	<label for="searchterm">Search</label>
					</div>
					<div class="col s3"></div>
				</div>

				<div class="row">
					<div class="subtitle orange">
						<h4 class="center-align white-text">Top Generator</h4>
					</div>
				</div>

				{{!-- Generator list box --}}
				<div class="row">
					<div class="top-generator-lists center">
						<div class="col s3">
							<a href="/generate/globalgenerator">
								<div class="card hoverable">
									<div class="card-image">
										<img src="/assets/64YQrF7.png" alt="generator-avatar">
										<span class="card-title">DarkLord</span>
									</div>
									<div class="card-content">
										<p class="teal-text text-darken-3">Vote:<span class="red white-text badge">111</span></p>
									</div>
								</div>
							</a>
						</div>
						<div class="col s3">
							<div class="card hoverable">
								<div class="card-image">
									<img src="/assets/habelfoc.png" alt="generator-avatar">
									<span class="card-title">HeroLord</span>
								</div>
								<div class="card-content">
									<p class="teal-text text-darken-3">Vote:<span class="red white-text badge">90</span></p>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card hoverable">
								<div class="card-image">
									<img src="/assets/mcavatar1.png" alt="generator-avatar">
									<span class="card-title">Knight</span>
								</div>
								<div class="card-content">
									<p class="teal-text text-darken-3">Vote:<span class="red white-text badge">56</span></p>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card hoverable">
								<div class="card-image">
									<img src="/assets/mcavatar2.png" alt="generator-avatar">
									<span class="card-title">Princes</span>
								</div>
								<div class="card-content">
									<p class="teal-text text-darken-3">Vote:<span class="red white-text badge">32</span></p>
								</div>
							</div>
						</div>
						<div class="col s3">
							<a href="/generate/globalgenerator">
								<div class="card hoverable">
									<div class="card-image">
										<img src="/assets/64YQrF7.png" alt="generator-avatar">
										<span class="card-title">DarkLord</span>
									</div>
									<div class="card-content">
										<p class="teal-text text-darken-3">Vote:<span class="red white-text badge">111</span></p>
									</div>
								</div>
							</a>
						</div>
						<div class="col s3">
							<div class="card hoverable">
								<div class="card-image">
									<img src="/assets/habelfoc.png" alt="generator-avatar">
									<span class="card-title">HeroLord</span>
								</div>
								<div class="card-content">
									<p class="teal-text text-darken-3">Vote:<span class="red white-text badge">90</span></p>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card hoverable">
								<div class="card-image">
									<img src="/assets/mcavatar1.png" alt="generator-avatar">
									<span class="card-title">Knight</span>
								</div>
								<div class="card-content">
									<p class="teal-text text-darken-3">Vote:<span class="red white-text badge">56</span></p>
								</div>
							</div>
						</div>
						<div class="col s3">
							<div class="card hoverable">
								<div class="card-image">
									<img src="/assets/mcavatar2.png" alt="generator-avatar">
									<span class="card-title">Princes</span>
								</div>
								<div class="card-content">
									<p class="teal-text text-darken-3">Vote:<span class="red white-text badge">32</span></p>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</div>


{{> footer }}